{% extends "govuk_template.html" %}

{% block head %}
    <script src="{{asset_path}}javascripts/address-lookup.js"></script>
    <script src="{{asset_path}}javascripts/vendor/jsrender.min.js"></script>
    {% raw %}
    <script id="template" type="text/x-jsrender">
      <li>{{:property}} {{:street}} {{:town}} {{:postcode}}</li>
    </script>
    {% endraw %}
{% endblock %}

{% block content %}

  <h1 class="heading-xlarge">Address lookup example</h1>
    <div class="grid-row">
      <div class="column-third">
        <form id="address-lookup" class="form" method="post">
          <div class="form-group">
            <label class="form-label-bold" for="search">Find an address by full postcode e.g. BS8 1LB</label>
            <input type="text" id="search" name="search"/>
          </div>
          <input type="submit" value="Submit" class="button">
        </form>
        <div class="about-panel">
          <p>This pages uses data from the <a href="http://address.openregister.org">Address Register</a></p>
        </div>
      </div>
      <div class="column-two-thirds">
        <p class='message'></p>
        <ul class="results">
        </ul>
      </div>
    </div><!--end grid-row -->
{% endblock %}
