{% extends "govuk_template.html" %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{asset_path}}stylesheets/country-picker.css">
        <script src="{{asset_path}}javascripts/vendor/jquery.select-to-autocomplete.js"></script>
        <script src="{{asset_path}}javascripts/country-picker.js"></script>
    {% endblock %}

    {% block content %}
        <h1 class="heading-xlarge">Country picker example</h1>

        <form class="form" id="country-form">
            <div class="form-group">
                <label class="form-label-bold" for="country-selector">Pick a country</label>
                <select name="Country" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off" class="auto-suggest form-control">
                  <option value="" selected="selected">Select Country</option>
                  {% for country in countries %}
                     <option value="{{country.country}}" data-alternative-spellings="{{ country.country }}">{{country.name}}</option>
                  {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit" class="button">
        </form>

        <div class="about-panel">
            <p>This page uses data from the <a href="{{country_register}}">Country Register</a></p>
        </div>
    {% endblock %}
