{% extends "govuk_template.html" %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{{asset_path}}stylesheets/country-picker.css">
        <script src="{{asset_path}}javascripts/vendor/jquery.select-to-autocomplete.js"></script>
        <script src="{{asset_path}}javascripts/country-picker.js"></script>
    {% endblock %}

    {% block content %}
        <h1 class="heading-xlarge">Country picker example</h1>

        <form class="form">
            <div class="form-group">
                <label class="form-label-bold" for="country-selector">Pick a country</label>

                <select name="Country" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off" class="auto-suggest form-control">
                  <option value="" selected="selected">Select Country</option>
                      <option value="Afghanistan" data-alternative-spellings="AF افغانستان">Afghanistan</option>
              <option value="Åland Islands" data-alternative-spellings="AX Aaland Aland" data-relevancy-booster="0.5">Åland Islands</option>
              <option value="Albania" data-alternative-spellings="AL">Albania</option>
              <option value="Algeria" data-alternative-spellings="DZ الجزائر">Algeria</option>
                  {% for entry in countries %}
                     <option value="{{entry.entry.country}}" data-alternative-spellings="{{ entry.entry.country }}">{{entry.entry.name}}</option>
                  {% endfor %}
                </select>
            </div>
            <input type="submit" value="Submit" class="button">
        </form>

        <div class="about-panel">
            <p>This pages uses data from the <a href="{{country_register}}">Country Register</a></p>
        </div>
    {% endblock %}
