
{% extends "govuk_template.html" %}
    {% block head %}
        <script src="{{asset_path}}javascripts/vendor/jquery.select-to-autocomplete.js"></script>
        <script src="{{asset_path}}javascripts/vendor/jsrender.min.js"></script>
        <script src="{{asset_path}}javascripts/country-picker.js"></script>
        <script src="{{asset_path}}javascripts/address-lookup.js"></script>


        <script id="address-template" type="text/x-jsrender">
            <li><a href="{{ address_register + '/address/{{:address}}' }}">
        {% raw %}
                    {{if property}}{{:property}},{{/if}}
                    {{if street}}{{:street}},{{/if}}
                    {{if town}}{{:town}},{{/if}}
                    {{if postcode}}{{:postcode}}{{/if}}</a></li>
        {% endraw %}
        </script>

        {% raw %}

        <script id="country-template" type="text/x-jsrender">
          <option value="{{:country}}" data-alternative-spellings="{{:country}}">{{:name}}</option>
        </script>

        {% endraw %}

    {% endblock %}

{% block content %}

    <h1 class="heading-large">Example widgets built using registers</h1>

    <!-- country picker -->
    <div class="widget">
      <div class="row">
        <div class="columns-two-thirds">
          <h2 class="heading-medium">Country picker example</h2>
          <form class="form" id="country-form" id="country-lookup" method="POST"action="{{url_for('frontend.country')}}">
            <div class="form-group">
                <label class="form-label-bold" for="country-selector">Pick a country</label>
                <select name="country" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off" class="auto-suggest form-control">
                  <option value="" selected="selected">Select Country</option>
                </select>
            </div>
            <input type="submit" value="Submit" class="button">
          </form>
          <div class="about-panel">
            <p>This widget uses data from the <a href="{{country_register}}">Country Register</a></p>
          </div>
        </div><!--end cols -->
      </div><!--end row -->
    </div><!--end country picker -->

{% endblock %}
