.about-panel {
    margin-top: 20px;
}

.widget {
    padding: 20px;
    border: 1px solid #DEE0E2;
    margin: 30px 0px;
}

select {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    text-transform: none;
    margin: 0 0.6em 0 0;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #aaa;
}

#address-results label {
    display: block;
}
